<div id="<%= dom_id home %>">
  <p>
    <strong>Title:</strong>
    <%= home.title %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= home.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= home.description %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= home.location %>
  </p>

</div>
