<div id="<%= dom_id installment_plan %>">
  <p>
    <strong>User:</strong>
    <%= installment_plan.user_id %>
  </p>

  <p>
    <strong>Property:</strong>
    <%= installment_plan.property_id %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= installment_plan.total_amount %>
  </p>

  <p>
    <strong>Installment amount:</strong>
    <%= installment_plan.installment_amount %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= installment_plan.paid %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= installment_plan.due_date %>
  </p>

</div>
